@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>That's application to work with AutoPark</p>
</div>

<h3>You can:</h3>
<ul>
    <li>Check information about vehicles, vehicle types, Orders ...</li>
    <li>Add/Delete and update data</li>
    <li>Add vehicles and vehicle types using json</li>
</ul>
<h3>Recommendations:</h3>
<ul>
    <li>Use SI system as base</li>
    <li>Use liters for volume of tank and consumption</li>
</ul>

